.body_box
{
    height: 55vh;
    
}
#new_match_main_box
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    width: 65vw;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;

    
    box-sizing: border-box;

    border: 2px solid #383838;
    border-radius: 10px;
    color: #ebebeb;
    font-size: 25px;
    


    padding-left: 150px;
    
}
.main_box{
    border: 2px solid #838383b4;
    
}
.head_box{
    height: 15vh;
    line-height: 15vh;
}
/* .body_box:last-child{
    height: 15vh;
    line-height: 15vh;
} */
.footer_box{
    height: 15vh;
    line-height: 15vh;
    box-sizing: border-box;
}

/*
.edit_body_box
{
    box-sizing: border-box;
    
    display: block;
    margin: 0;
    padding-left: 170px;
    padding-right: 170px;
    height: 90%;
    border: 1px solid yellow;
    
    
}
*/
#error_box
{
    margin-left: -150px;
    width: 64.6vw;
    position: absolute;
    text-align: center;
}

#error
{
    font-size: 16px; 
    color: #cf352e;
}

input
{
    
    margin-top: 1vh;
    height: 6vh;
    
    border-radius: 5px;
    
    outline: none;
    box-sizing: border-box;
    background-color: #161616;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    color: #ebebeb;
    border: 1px solid #ebebeb;
    
}
.name
{
    /*
    width: 20vw;
    text-align: left !important;
    margin-left: 100px;
    */
    width: 20vw;
    text-align: left;
    
}

#cal_button
{
    width: 64.6vw;
    height: 15vh;
    
    text-align: center;
    margin-left: -150px;
    padding-top: 26px;
    box-sizing: border-box;
}

input.name
{
    border: 1px solid #ebebeb;
}

input.small
{
    width: 4vw;
    text-align: center !important;
}


input:focus
{
    background-color: #383838;

    border: 2px solid #c859f7;
    caret-color: #c859f7;

}

button
{
    width: 110px;
    height: 42px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #0f0f0f00;
    border-radius: 25px;
    background-color: #c859f7;
    font-family: 'League Spartan', sans-serif;
    color: #0f0f0f;
    transition-duration: 0.3s;
    cursor: pointer;
    line-height: 40px;
}
button:hover
{
    border: 2px solid #c859f7;
    color: #c859f7;
    
    background-color: #0f0f0f;
}
.row{
    box-shadow: none;
}
.row_left{
    height: 10vh;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.row_right{
    height: 10vh;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
