.description
{
    color: #f7f0fa;
    line-height: 1.6;
    height: 220px;
    width: 700px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10vw;
    padding-top: 0;
}

.main_p
{
    margin-top: 0;
    font-size: 30px;
}

.second_p
{
    font-size: 30px;
    
    word-spacing: 3px;
}

span{
    color: #c859f7;
}

#error
{
    color: #db1414;
    font-size: 16px;
    position: absolute;
    margin-top: -30px;
    font-family: 'Bakbak One', cursive;
}

.sign_up_box{
    position: absolute;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 40px;
    width: 300px;
    height: 398px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 13vw;
    border-radius: 10px;
}

.sign_up_box:focus-within {
    outline: 1px solid #838383b4;
}

.form_box
{
    position: relative;
    padding-left: 0;
    font-size: 25px;
    color: #f7f0fa;
    width: 270px;
    height: 338px;
    text-align: left;
    margin: auto;
    right: 0;
    left: 0;
}

.form_box p{
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

#new_acc
{
    font-size: 16px;
    color: #ebebeb;
}

input
{
    margin-top: 8px;
    margin-bottom: 20px;
    height: 42px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    outline: none;
    box-sizing: border-box;
    background-color: #161616;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    color: #ebebeb;
}

input:focus
{
    background-color: #383838;
    border: 2px solid #c859f7;
    caret-color: #c859f7;
}

button
{
    width: 270px;
    height: 42px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #0f0f0f00;
    border-radius: 25px;
    background-color: #c859f7;
    color: #0f0f0f;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
}

button:hover
{
    border: 2px solid #c859f7;
    color: #c859f7;
    transition-duration: 0.3s;
    background-color: #0f0f0f;
}